#data {
	height: 70%;
	width: 30%;
	padding: 30px 30px 0;
	border: 3px solid var(--primary-color);
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 30px;

	> section:last-of-type {
		height: 15%;
		display: flex;
	}
	label,
	span {
		display: block;
		font-size: 30px;
	}
	span {
		text-indent: 5mm;
		&:last-of-type {
			text-transform: capitalize;
		}
	}
	a {
		width: 50%;
		display: inline-block;
		button {
			height: 100%;
			width: 100%;
			padding: 0;
			box-sizing: content-box;
			border: 3px solid var(--primary-color);
			border-bottom: 0;
			display: inline-block;
			background-color: transparent;
			font-size: 30px;
			cursor: pointer;
		}
	}
	button {
		height: 100%;
		width: 50%;
		padding: 0;
		box-sizing: content-box;
		border: 3px solid var(--primary-color);
		border-bottom: 0;
		display: inline-block;
		background-color: transparent;
		font-size: 30px;
		cursor: pointer;
	}
}
