<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='base.css') }}"
		/>
		{% block additional_css %}{% endblock %}
		<title>S-Media</title>
	</head>
	<body>
		<header>
			<h1>S-Media</h1>
			{% if user %}
			<section id="username-title">{{ user[1].username }}</section>
			{% else %}
			<nav>
				<a href="/login"><button>Login</button></a>
				<a href="/signup"><button>Sign Up</button></a>
			</nav>
			{% endif %}
		</header>
		<main>{% block main %}{% endblock %}</main>
	</body>
</html>
