{% extends "base.html" %} {% block additional_css %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='datachange.css') }}"
/>
{% endblock %} {% block main %}
<section id="data">
	<form method="post">
		{% if error %} {% if error == 'email exists'}
		<div class="error">Email already exists. Use another one.</div>
		{% endif %} {% endif %}
		<label for="username">Username:</label>
		<input
			type="text"
			id="username"
			name="username"
			value="{{ user[0] }}"
			required
		/>

		<label for="password">Password:</label>
		<input
			type="password"
			id="password"
			name="password"
			value="{{ user[1] }}"
			required
		/>

		<label for="email">Email:</label>
		<input
			type="email"
			id="email"
			name="email"
			value="{{ user[2] }}"
			required
		/>

		<span>
			<input type="radio" id="male" name="gender" value="male" required />
			<label for="male">Male</label>
		</span>

		<span>
			<input
				type="radio"
				id="female"
				name="gender"
				value="female"
				required
			/>
			<label for="female">Female</label>
		</span>

		<button type="submit">Change</button>
	</form>
</section>
{% endblock %}
