{% extends "base.html" %} {% block additional_css %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='datachange.css') }}"
/>
{% endblock %} {% block main %}
<section id="data">
	<form method="post">
		<label for="username">Username:</label>
		<input
			type="text"
			name="username"
			value="{{ user[1].username }}"
			required
		/>

		<label for="password">Password:</label>
		<input
			type="password"
			name="password"
			value="{{ user[1].password }}"
			required
		/>

		<label for="email">Email:</label>
		<input type="email" name="email" value="{{ user[1].email }}" required />

		<span>
			<input type="radio" name="gender" value="male" required />
			<label for="male">Male</label>
		</span>

		<span>
			<input type="radio" name="gender" value="female" required />
			<label for="female">Female</label>
		</span>

		<button type="submit">Change</button>
	</form>
</section>
{% endblock %}
