{% extends "base.html" %} {% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}" />
{% endblock %} {% block main %}
<section id="data">
	<section>
		<label for="username">Username:</label>
		<span>{{ user[1] }}</span>
	</section>
	<section>
		<label for="password">Password:</label>
		<span>{{ user[2] }}</span>
	</section>
	<section>
		<label for="email">Email:</label>
		<span>{{ user[3] }}</span>
	</section>
	<section>
		<label for="gender">Gender:</label>
		<span style="text-transform: capitalize">{{ user[4] }}</span>
	</section>
	<section>
		<a href="/updateuser"
			><button type="button" style="border-left: 0">Edit data</button></a
		>
		<button type="submit" id="logout" style="border-right: 0">
			Log out
		</button>
	</section>
</section>
{% endblock %} {% block additional_js %}
<script src="{{ url_for('static', filename='logout.js') }}"></script>
{% endblock %}
